h1 {
    font-family: helvetica ;
    font-size: 30px ;
    color: black
}

h2 {
    font-family: helvetica ;
    font-size: 20px ;
    color: darkgray ;
}

h3 {
    font-family: helvetica ;
    font-size: 16px ;
    color: lightskyblue ;
}

p {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
    line-height: 18px ;
}

a:link {
    font-family: helvetica ; 
    font-size: 12px ;
    color: gray ;
    text-decoration: none ;
}

a:hover {
    font-weight: bold ;
    text-decoration: none ;
    color: lightskyblue ;
}

a:visited {
    color: black ;
}

a:active {
    color: black ;
}


.blue {
    color: lightskyblue ;
}

ul {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
}

ol {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
}

tr {
    font-family: helvetica ;
    font-size: 12px ;
}

form {
    font-family: helvetica ;
    font-size: 12px ;
}