h1 {
    font-family: comic sans ms ;
    font-size: 50px ;
    color: hotpink ;
    background-color: aquamarine ;
}

h2 {
    font-family: comic sans ms ;
    font-size: 30px ;
    color: orange ;
    background-color: aquamarine ;
}

h3 {
    font-family: comic sans ms ;
    font-size: 26px ;
    color: chartreuse ;
    background-color: orange ;
}

p {
    font-family: courier ;
    font-size: 14px ;
    color: grey ;
    line-height: 30px ;
}

a:link {
    font-family: courier ; 
    font-size: 50px ;
    color: yellow ;
    text-decoration: line-through ;
}

a:hover {
    font-weight: bold ;
    text-decoration: underline ;
    color: blueviolet ;
}

a:visited {
    color: royalblue ;
}

a:active {
    color: peachpuff ;
}


.blue {
    color: lightskyblue ;
}

ul {
    font-family: courier ;
    font-size: 20px ;
    color: black ;
}

ol {
    font-family: courier ;
    font-size: 14px ;
    color: black ;
}

tr {
    font-family: courier ;
    font-size: 14px ;
    background-color: hotpink ;
}

form {
    font-family: courier ;
    font-size: 14px ;
    background-color: deepskyblue ;
}