/* headers */

h1 {
    font-family: helvetica ;
    font-size: 30px ;
    color: #9999ff ;
}

h2 {
    font-family: helvetica ;
    font-size: 20px ;
    color: #ccccff ;
}

h3 {
    font-family: helvetica ;
    font-size: 15px ;
    color:  #ccccff ;
}


/* body */

p {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
    line-height: 18px ;
}

ul {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
}

ol {
    font-family: helvetica ;
    font-size: 12px ;
    color: black ;
}

tr {
    font-family: helvetica ;
    font-size: 12px ;
}

form {
    font-family: helvetica ;
    font-size: 12px ;
}

figcaption {
    background-color: #ccccff ;
    color: white ;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}


/* links */

a:link {
    font-family: helvetica ; 
    font-size: 12px ;
    color: gray ;
    text-decoration: none ;
}
s
a:hover {
    font-weight: bold ;
    text-decoration: none ;
    color: #9999ff ;
}

a:visited {
    color: darkgray ;
}

a:active {
    color: #ccccff ;
}